.heading {
    width: 100%;
    text-align: left;
    line-height: 2;
}

.heading h3 {
    display: inline;
    line-height: 2;
}

.heading button{
    float: right;
    border: 5px solid white;
}

.big_image {
    width: 100%;
}

#start ,#status{
    font-size: 22px;
}

.instruction_image{
    display: inline-block;
    width: 45%;
}

h4 {
    background-color: thistle;
    line-height: 2;
    margin: 0px;
}

.modal-diolog {
    width: 90%;
}

video {
    background: url('game_console.png');
    background-size: cover;
    background-position: center;
    padding: 25px;
}